<!-- form>(.form-group>input[type=text])*3+button.btn[type=button] -->
<h2>Create New Book</h2>
<form class="form">
  <div class="form-group">
    <label>ISBN</label>
    <input
      [(ngModel)]="book.isbn"
      name="isbn"
      type="text"
      #isbn>
  </div>
  <div class="form-group">
    <label>TITLE</label>
    <input
      [(ngModel)]="book.title"
      name="title"
      type="text"
      #title>
  </div>
  <div class="form-group">
    <label>SUBTITLE</label>
   <input
      [(ngModel)]="book.subtitle"
      name="subtitle"
      type="text"
      #subtitle>
  </div>
  <div class="form-group">
    <label>RATING</label>
    <input
      [(ngModel)]="book.rating"
      name="rating"
      type="number"
      #rating>
  </div>
  <div class="form-group">
    <label>DESCRIPTION</label>
    <textarea
      [(ngModel)]="book.description"
      name="description"
      #description
      ></textarea>
  </div>
  <button (click)="raiseBookCreation(isbn, title, subtitle, rating, description)" class="btn btn-primary" type="button">
    Create Book
  </button>
</form>
