<!-- form>(.form-group>input[type=text])*3+button.btn[type=button] -->
<h2>Create New Book</h2>
<form  #bookForm="ngForm" class="form">
  <div class="form-group">
    <label>ISBN</label>
    <input
      [(ngModel)]="book.isbn"
      required
      placeholder="e.g. 0238912903"
      name="isbn"
      type="text"
      #isbn="ngModel">
      <small *ngIf="isbn.dirty && isbn.hasError('required')">
        Please insert a valid ISBN number.
      </small>
  </div>
  <div class="form-group">
    <label>TITLE</label>
    <input
      [(ngModel)]="book.title"
      minlength="3"
      name="title"
      type="text"
      #title="ngModel">
    <small *ngIf="title.dirty && title.hasError('minlength')">
      Your title needs to have at least three characters.
    </small>
  </div>
  <div class="form-group">
    <label>SUBTITLE</label>
   <input
      [(ngModel)]="book.subtitle"
      name="subtitle"
      type="text"
      #subtitle>
  </div>
  <div class="form-group">
    <label>RATING</label>
    <input
      [(ngModel)]="book.rating"
      name="rating"
      type="number"
      #rating>
  </div>
  <div class="form-group">
    <label>DESCRIPTION</label>
    <textarea
      [(ngModel)]="book.description"
      name="description"
      #description
      ></textarea>
  </div>
  <button
    [disabled]="bookForm.invalid"
    (click)="raiseBookCreation()"
    class="btn btn-primary" type="button">
    Create Book
  </button>
</form>
